[Desktop Entry]
Encoding=UTF-8
Name=Link to Spatial Data Science with R — R Spatial
Type=Link
URL=https://rspatial.org/
Icon=text-html
Name[en_US]=Spatial Data Science with R — R Spatial
